.user-div {
    @media (min-width: 768px) {
    display: flex; 
    margin-top: 30px; 
    }
}

.recent-activity-div, .new-members-div {
    width: 100%;
  
      @media (min-width: 768px) {
        width: 50%;  
        border: solid 1px rgba(0,0,0,.3); 
       }
}

.new-members-div h3, .recent-activity-div h3 {
    font-size: 1em; 
    margin: 40px 0 20px 10px; 
    align-self: center;
      @media (min-width: 768px) {
          margin-top:10px;
          text-align: left;
       }
  
}


.new-members, .new-members-activity {
    border-bottom: solid 1px rgba(0,0,0,.3);
    width: 90%;
    margin: 0 auto 20px;  
  
      @media (min-width: 768px) {
        width: 95%;
        height: 100px; 
       }
}


.image-user-div {
    width: 65%; 
    max-width: 65%; 
}

.image-user {
    width: 40px;
    height: 40px; 
    border-radius: 50%; 

}

.image-user-div p {
    max-width: 100%; 
    width: 100%; 
    word-wrap: break-word;
    display: inline-block; 
      @media (min-width: 768px) {
          margin: 0; 
       }
}

.new-members-div span {
    color: rgb(77, 77, 113);
    font-size: .75em; 
    word-wrap: break-word; 
}

.date-div {
    width: 35%; 
}

.date-div p, .activity-symbol-div {
    align-self: center; 
}

.date-div p {
    word-wrap: initial; 
}

.activity-symbol-div {
    font-size: 1.8em; 
    color: rgb(77, 77, 113);
    font-family: 'Lilita One', cursive;
}

.new-members-activity p{
    font-size: .8em; 
      @media (min-width: 768px) {
          margin: 0; 
       }
}

.new-members-activity span {
    color: green; 
    font-size: .750em; 
}

form {
    display: flex; 
    align-items: center; 
    flex-direction: column;
    margin-bottom: 20px; 
}

form legend {
    padding-bottom: 10px; 
}

form input {
    width: 80%;
    margin-bottom: 10px; 
}

.no-text-message {
    color: red;
    font-size: .7em; 
    margin: -10px 0 10px 0; 
    display: none;
    text-align: left;  
}

form textarea {
    width: 80%;
    height: 100px;
    margin-bottom: 10px; 
}

form button {
  text-align: center;
  background-color: $light-purple-color;
  color: white; 
  width: 80%; 
  border: none; 
  border-radius: 2px; 
      @media (min-width: 768px) {
          padding: 10px 0; 
       }
}

/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  Fieldset styling for email notifications
**********************************************/

.settings-div {
    width: 100%; 
    max-width: 100%; 
    margin: 35px auto 0;
      @media (min-width: 768px) {
          border:none; 
          text-align: center; 
          margin: 0; 
       }
}


.switch-div {
  display: flex; 
  justify-content: space-between;
  width: 100%; 
  margin-bottom: 20px; 
      @media (min-width: 768px) {
          width: 80%;  
       }
}

.switch-div-1 {                             //creating this class to push down everything below a few pixels
      @media (min-width: 768px) {
          margin-top: 10px; 
       }
  
}

.switch-div span {
    font-size: 12px; 
}

.onoffswitch {
    position: relative; width: 57px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
      @media (min-width: 768px) {
          width:60px; 
       }
}
.onoffswitch-checkbox,
.onoffswitch-checkbox-2 {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 25px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 19px; padding: 0; line-height: 19px;
    font-size: 11px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
      @media (min-width: 768px) {
          width: 35%;   
       }
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 5px;
    background-color: rgb(116, 118, 192); color: #FFFFFF;
      @media (min-width: 768px) {
          padding-left:0px;  
       }
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 5px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
      @media (min-width: 768px) {
          padding-left:45px;  
       }
}
.onoffswitch-switch {
    display: block; width: 26px; margin: -2px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 34px;
    border: 2px solid #999999; border-radius: 25px;
    transition: all 0.3s ease-in 0s;
          @media(min-width: 768px){
            width: 29px; 
    }
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner,
.onoffswitch-checkbox-2:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch,
.onoffswitch-checkbox-2:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.activity-button-div {
    display: flex; 
    margin-top: 15px; 
    width: 100%;
    justify-content: space-between; 
      @media (min-width: 768px) {
          margin: 0;
       }

}

.select-div {
    text-align: center; 
}

select {
  width: 90%;
  margin: 0 auto 10px; 
      @media (min-width: 768px) {
          margin: 18px auto 12px;
       }
}


.save-button, .cancel-button {
    width: 45%;
    padding: 5px 0; 
    border: none; 
    border-radius: 2px; 
    color: white; 
    margin: 0 auto; 
      @media (min-width: 768px) {
          margin: 0;
          padding: 10px 0; 
       }
}


.save-button {
    background-color: $light-purple-color;   
}

.cancel-button {
    background-color: grey; 
}


.flex-new-members {
  display: flex; 
  justify-content: space-between; 
}

